<style type="text/css">
h2{
    margin: 0;     

    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    
    text-align: center;
    height: 600px !important;
}
.carousel{
    margin-top: 10px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.black {
    color: black;
}
</style>